src/main/mule/post-logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="InsCommunication_SFlow" doc:id="ed90960e-9516-4da5-b0c1-01477056885e" >
		<db:bulk-insert doc:name="Contact Communications Channels" doc:id="2d561f95-69ff-4d18-b57c-8a7544fd1c08" config-ref="Database_Config" target="vCommunicationsIns">
				<db:bulk-input-parameters><![CDATA[#[(payload.communications default []) map {
  ContactId: (vars.vContactIns.generatedKeys['GENERATED_KEYS'] default attributes.uriParams.id),	
  TypeId: $.typeId,
  Value: $.value,
  PreferredFlg: if ($.PreferredFlg == true) (1) else 0,
  CorrelationId: vars.correlationId	
}]]]></db:bulk-input-parameters>
				<db:sql><![CDATA[insert into ContactCommunicationChannel (
ContactId, TypeId, Value, PreferredFlg, CorrelationId)
values (
:ContactId, :TypeId, :Value, :PreferredFlg, :CorrelationId) ]]></db:sql>
			</db:bulk-insert>
	</sub-flow>
	<sub-flow name="InsAddress_SFlow" doc:id="e57cff8e-d50c-4b27-a885-554922fef1f5" >
		<db:bulk-insert doc:name="Contact Adresses" doc:id="44f8e843-b750-4471-a630-73e8421f745d" config-ref="Database_Config" target="vAdressIns">
				<db:bulk-input-parameters><![CDATA[#[(payload.address default []) map {
  ContactId: (vars.vContactIns.generatedKeys['GENERATED_KEYS'] default attributes.uriParams.id),	
  TypeId: $.typeId,
  Street: $.street,
  StreetNumber: $.number,
  Unit: $.unit,
  City: $.city,
  StateId: $.stateId,
  ZipCode: $.zipCode,
  CorrelationId: vars.correlationId	
}]]]></db:bulk-input-parameters>
				<db:sql><![CDATA[insert into ContactAdress (
ContactId, TypeId, Street, StreetNumber, Unit, City, StateId,ZipCode, CorrelationId)
values (
:ContactId, :TypeId, :Street, :StreetNumber, :Unit, :City,
:StateId ,  :ZipCode, :CorrelationId
)]]></db:sql>
			</db:bulk-insert>
	</sub-flow>
	<flow name="post:\contacts:application\json:sys-ms3contacts-env-api-config" doc:id="5f187dfc-7150-420e-8db1-68914d0985d7" >
		<logger level="INFO" doc:name="START" doc:id="2e122f5a-1d6a-4838-9112-96df9ca1d988" message="START POST Contacts - #[payload] - #[vars.correlationId]"/>
		<flow-ref doc:name="identificationControl_SFlow" doc:id="c3de99df-ff34-4dc7-a878-f489ad6e0dac" name="identificationControl_SFlow"/>
		<try doc:name="Try" doc:id="e4b51c5c-9cfc-4204-8c0e-bf742f7c07c6" transactionalAction="ALWAYS_BEGIN">
			<db:insert doc:name="Contact Identification" doc:id="ed49cbd7-cd25-4472-aeca-9af8c1f4fbb0" config-ref="Database_Config" target="vContactIns" autoGenerateKeys="true">
			<db:sql><![CDATA[insert into Contact (LastName, FirstName, DOB, Title, Gender, CorrelationId)
values 
(:LastName, :FirstName, :DOB, :Title,:Gender, :CorrelationId)]]></db:sql>
			<db:input-parameters><![CDATA[#[{
LastName: payload.identification.lastName, 
FirstName: payload.identification.firstName,
DOB: payload.identification.DOB,
Title: payload.identification.title,
Gender: payload.identification.gender,
CorrelationId: vars.correlationId
}]]]></db:input-parameters>
		</db:insert>
			<flow-ref doc:name="InsAddress_SFlow" doc:id="dc3c31ff-33b2-48bb-8aff-1e5ca794f52a" name="InsAddress_SFlow" />
			<flow-ref doc:name="InsCommunication_SFlow" doc:id="d72e2c23-eeb8-4320-93e9-7beba6dcfec3" name="InsCommunication_SFlow" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3217837a-0f6c-402e-be3e-f999fe3a7317" >
					<logger level="INFO" doc:name="Logger" doc:id="c4184551-7c1d-43ac-aed0-7768df107bdb" message="ERROR trying to create a Contact - #[vars.correlationId]"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Response" doc:id="8d4a3d21-b856-4b6f-8328-ccec5b82425d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: (vars.vContactIns.generatedKeys['GENERATED_KEYS'] default attributes.uriParams.id)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="df0dd5da-a32c-46ea-9765-e9b3afae6639" message="END POST Contacts - #[vars.correlationId]"/>
	</flow>
	<flow name="post:\contacts\(id)\address:application\json:sys-ms3contacts-env-api-config" doc:id="b6f447fd-211b-4c91-adeb-0f46b3fbc87c" >
		<logger level="INFO" doc:name="START" doc:id="8222d0a1-2c6c-4493-8a55-d2dd50adc950" message="START POST Address - #[payload] - #[vars.correlationId]"/>
		<flow-ref doc:name="addressControl_SFlow" doc:id="4bc0c573-1162-4b55-aa6a-cbf60478d9b0" name="addressControl_SFlow"/>
		<try doc:name="Try" doc:id="dfd53fc2-cae3-466e-8657-1dbd8bdf5c18" transactionalAction="ALWAYS_BEGIN">
			<flow-ref doc:name="InsAddress_SFlow" doc:id="127dbb53-ea51-454d-9cda-eafabcf8de2e" name="InsAddress_SFlow" />
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ed37e288-aaa2-4e09-aa0b-b0363687e219" >
					<logger level="INFO" doc:name="Logger" doc:id="93c2384c-b42b-4500-80a2-14f8eb27d0f6" message="Error trying to insert Addresses - #[vars.correlationId]" />
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Response" doc:id="338baf4b-cccb-4895-9bde-a609bfd4052b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="7848366f-14a5-4841-9739-654cbb01fa8a" message="END POST Address - #[vars.correlationId]"/>
	</flow>
	<flow name="post:\contacts\(id)\communications:application\json:sys-ms3contacts-env-api-config" doc:id="299ce366-4557-4b9f-bb3f-918bdd066031" >
		<logger level="INFO" doc:name="START" doc:id="ed30b7d9-03ce-49cb-94b2-738e6ac98e78" message="START POST Communications - #[payload] - #[vars.correlationId]"/>
		<flow-ref doc:name="communicationControl_SFlow" doc:id="cd9093ab-0b1c-4432-82b0-18392199fa75" name="communicationControl_SFlow"/>
		<try doc:name="Try" doc:id="11d64cb4-fded-4e9a-b256-3f4efdfe9c09" transactionalAction="ALWAYS_BEGIN">
			<flow-ref doc:name="InsCommunication_SFlow" doc:id="df08ba33-0ad7-4cca-afa8-d7bd163b9d0d" name="InsCommunication_SFlow" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f0daf514-ee7d-43b2-8122-c864b2421255" >
					<logger level="INFO" doc:name="Logger" doc:id="d43b7536-1710-4c6f-8182-37952f0b8a0b" message="Error Trying to insert Communications - #[vars.correlationId]" />
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Response" doc:id="2f07bd7d-bee1-4d12-99f3-f8da8442d8b3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="9a6e6904-5203-4220-b4d3-6a1a3c262d23" message="END POST Communications - #[vars.correlationId]"/>
	</flow>
</mule>
