src/main/mule/put-logics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
    <flow name="put:\contacts\(id)\address\(addressId):application\json:sys-ms3contacts-env-api-config">
        <logger level="INFO" doc:name="START" doc:id="1f29b7f3-2a50-4192-bf2a-b3c0a7e34f47" message="START put:\contacts\(id)\address\ - #[payload] - #[vars.correlationId]"/>
        <flow-ref doc:name="addressControl_SFlow" doc:id="d98668a9-6998-4229-b024-6cda89c4b3b8" name="addressControl_SFlow"/>
		<db:update doc:name="Address By Id" doc:id="7d2cbc48-ee9c-4449-b210-33e95074bbe2" config-ref="Database_Config">
			<db:sql ><![CDATA[Update ContactAdress
Set TypeId = ISNULL(:TypeId, TypeId),
    Street = ISNULL(:Street, Street),
    StreetNumber = ISNULL(:StreetNumber, StreetNumber),
    Unit= ISNULL(:Unit, Unit), 
    City= ISNULL(:City, City),
    StateId= ISNULL(:StateId, StateId),
    ZipCode= ISNULL(:ZipCode, ZipCode)
Where Id = :Id and ContactId = :ContactId]]></db:sql>
			<db:input-parameters ><![CDATA[#[output json ---
{
Id: attributes.uriParams.addressId,
ContactId: attributes.uriParams.id,
TypeId: payload.address.typeId,
Street: payload.address.street,
StreetNumber: payload.address.number,
Unit: payload.address.unit,
City: payload.address.city,
StateId: payload.address.stateId,
ZipCode: payload.address.zipCode
}]]]></db:input-parameters>
		</db:update>
		<flow-ref doc:name="NotFoundControl_SFlow" doc:id="69e62462-505e-4003-8e23-723dd36fd817" name="NotFoundControl_SFlow"/>
		<ee:transform doc:name="Response" doc:id="b46b4a6e-473b-4899-80ff-52f43e981371" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="5f043028-862d-4805-811f-f722b488fde3" message="END put:\contacts\(id)\address\ - #[vars.correlationId]"/>
    
</flow>
    <flow name="put:\contacts\(id)\communications\(communicationId):application\json:sys-ms3contacts-env-api-config">
        <logger level="INFO" doc:name="START" doc:id="9597a0cc-6ddc-48f9-b4fa-f52d2fb1b29b" message="START put:\contacts\(id)\communications\ - #[payload] - #[vars.correlationId]"/>
		<flow-ref doc:name="communicationControl_SFlow" doc:id="561b4fc0-6e50-4eba-a0d8-809867344b62" name="communicationControl_SFlow"/>
		<db:update doc:name="Communication Channel By Id" doc:id="efea0caa-29ce-4e97-bcb1-9893864bfd0d" config-ref="Database_Config">
			<db:sql ><![CDATA[Update ContactCommunicationChannel
Set TypeId = ISNULL(:TypeId,TypeId),
    Value = ISNULL(:Value, Value),
    PreferredFlg= ISNULL(:PreferredFlg, PreferredFlg)
where Id = :Id and ContactId = :ContactId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	Id: attributes.uriParams.communicationId,
	ContactId: attributes.uriParams.id,
	TypeId: payload.communications.typeId,
	Value: payload.communications.value,
	PreferredFlg: payload.communications.preferred
}]]]></db:input-parameters>
		</db:update>
		<flow-ref doc:name="NotFoundControl_SFlow" doc:id="1bfb99b7-6ead-43b3-8b1f-22a1d9a09d6e" name="NotFoundControl_SFlow"/>
		<ee:transform doc:name="Response" doc:id="a22be10e-ffd4-423f-b2ca-7d3ad2c7c323" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="fa9b837d-b925-4250-a94d-d959a3fcfaa4" message="END put:\contacts\(id)\communications\ - #[vars.correlationId]"/>
    
</flow>
	<flow name="put:\contacts\(id):application\json:sys-ms3contacts-env-api-config">
        <logger level="INFO" doc:name="START" doc:id="e8afd75b-4bca-4cf9-b3ee-677e6a4b8cf1" message="START put:\contacts\(id) - #[payload] - #[vars.correlationId]"/>
		<flow-ref doc:name="identificationControl_SFlow" doc:id="41271e5b-231c-4f48-9063-2fbfaf110081" name="identificationControl_SFlow"/>
		<db:update doc:name="Contact" doc:id="c2e624c6-6cdf-4b12-9ab2-051880d6db09" config-ref="Database_Config">
			<db:sql ><![CDATA[Update Contact
Set LastName= ISNULL(:LastName,LastName),
    FirstName= ISNULL(:FirstName,FirstName),
    DOB= ISNULL(:DOB,DOB),
    Title= ISNULL(:Title,Title),
    Gender= ISNULL(:Gender,Gender)
Where Id = :Id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	Id: attributes.uriParams.id,
	LastName: payload.identification.lastName,
	FirstName: payload.identification.firstName,
	DOB: payload.identification.DOB,
	Title: payload.identification.title,
	Gender: payload.identification.gender
}]]]></db:input-parameters>
		</db:update>
		<flow-ref doc:name="NotFoundControl_SFlow" doc:id="d29eae90-f951-4c6d-aebc-47145844b209" name="NotFoundControl_SFlow"/>
		<ee:transform doc:name="Response" doc:id="655a50c8-f9fa-4cc1-9ed6-a17548d3bf53" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="f5b9cb32-79ae-42f9-80fc-d088941056e5" message="END put:\contacts\(id) - #[vars.correlationId]"/>
    
</flow>
	
	
	
	</mule>
